.anchor {
  text-decoration: none;
  font-family: var(--font-family-proxima-nova);

  .text {
    transition: color 500ms ease;
  }

  &.primary .text {
    color: var(--font-color-blue);

    &:hover {
      color: var(--primary-color-hover);
    }
  }

  &.secondary .text {
    color: var(--font-color-black);
  }

  .text &:hover {
    transition: color 500ms ease;
  }
}
