.container {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-container-input);
  border-radius: var(--border-radius-input);
  background-color: var(--font-color-white);
  margin: 0;

  .textarea {
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden;
    border: 1px solid transparent;
    background-color: var(--font-color-white);
    color: var(--font-color-black);
    font-family: var(--font-family-proxima-nova);
    font-size: var(--font-size-lg);
    border-radius: var(--border-radius-input);
    padding: var(--padding-input);
    line-height: 22px;
    margin: 0;
    transition: box-shadow 500ms ease;
    form-sizing: content;
    height: fit-content;
    min-height: 48px;
    max-height: 150px;
    resize: none;
    text-indent: 0;
    margin: 0;

    &:focus-visible {
      box-shadow: var(--shadow-input-focus);
      outline: none;
      transition: box-shadow 500ms ease;
    }
  }

  &.fullWidth {
    display: inline-flex;
    width: 100%;
  }
}
