/* reset css file */
@import url('../../../styles/reset.css');

/* typography */
@import url('./typography.css');

:root {
  --font-family-proxima-nova: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;

  /* font-size */
  --font-size-xs: 13px;
  --font-size-sm: 14px;
  --font-size-md: 15px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-2xl: 20px;
  --font-size-3xl: 22px;
  --font-size-4xl: 24px;
  --font-size-5xl: 26px;
  --font-size-6xl: 32px;

  /* font-weight */
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
}

body {
  /* text colors */
  --font-color-base: #666;
  --font-color-black: #000;
  --font-color-white: #fff;
  --font-color-green: #00a650;
  --font-color-blue: #3483fa;

  /* button colors */
  --primary-color: var(--font-color-blue);
  --primary-color-hover: #2968c8;
  --primary-font-color: var(--font-color-white);
  --secondary-color: rgba(65, 137, 230, 0.15);
  --secondary-color-hover: rgba(65, 137, 230, 0.2);
  --secondary-font-color: var(--font-color-blue);
  --tertiary-color: rgba(255, 255, 255, 0.2);
  --tertiary-font-color: var(--font-color-white);
  --cuaternary-color: #fff;
  --cuaternary-border-color: #e6e6e6;

  --disabled-color: #ccc;
  --disabled-font-color: gray;
}

/* weight */
.font-thin {
  font-weight: var(--font-weight-thin);
}

.font-normal {
  font-weight: var(--font-weight-normal);
}

.font-semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

/* color */
.font-base {
  color: var(--font-color-base);
}

.font-black {
  color: var(--font-color-black);
}

.font-white {
  color: var(--font-color-white);
}

.font-green {
  color: var(--font-color-green);
}

.font-blue {
  color: var(--font-color-blue);
}
