.text {
  /* size */
  &.font-xs {
    font-size: var(--font-size-xs);
  }

  &.font-sm {
    font-size: var(--font-size-sm);
  }

  &.font-md {
    font-size: var(--font-size-md);
  }

  &.font-lg {
    font-size: var(--font-size-lg);
  }

  /* weight */
  &.font-thin {
    font-weight: var(--font-weight-thin);
  }

  &.font-normal {
    font-weight: var(--font-weight-normal);
  }

  &.font-semi-bold {
    font-weight: var(--font-weight-semi-bold);
  }

  /* color */
  &.font-black {
    color: var(--font-color-black);
  }

  &.font-white {
    color: var(--font-color-white);
  }

  &.font-green {
    color: var(--font-color-green);
  }

  &.font-blue {
    color: var(--font-color-blue);
  }
}
